<!-- /app/Resources/views/base.html.twig -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
        <link href="{{ asset('plugin/select2-4.0.3/dist/css/select2.min.css') }}" rel="stylesheet" />
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../src/bootstrap-duallistbox.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('plugin/bootstrap-duallistbox-3.0.6/dist/bootstrap-duallistbox.min.css') }}">

        <link rel="stylesheet" href="{{ asset('css/my-style.css') }}"/>

    {% endblock %}

    <title>{% block title %}Something Clever Here!{% endblock %}</title>

    <!-- Latest compiled and minified JavaScript -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
{% block topnav %}
    <nav class="navbar navbar-fixed-top">
        <!-- put your nav bar here -->
        {% include '::topnav.html.twig' %}
    </nav>

{% endblock %}

<div class="container">
    {% block body %}{% endblock %}
</div>





{% block javascripts %}

        <script src="//code.jquery.com/jquery-2.1.1.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{{ asset('plugin/select2-4.0.3/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="{{ asset('plugin/bootstrap-duallistbox-3.0.6/dist/jquery.bootstrap-duallistbox.min.js') }}"></script>
    <script src="{{ asset('js/modal.js') }}"></script>

    <script>
        $('.demo2').bootstrapDualListbox({
            nonSelectedListLabel: 'Non-selected Groups',
            selectedListLabel: 'Selected Groups'

        });
    </script>

{% endblock %}
</body>
</html>